*
!.gitignore
!*thesis.pdf
!*thesis.tex

!/bibliography/*

!/figures/*
!/figures/chapter1/*
!/figures/interpolating_schedules/*
!/figures/min_tp/*
!/figures/min_tp_sqrt/*
!/figures/sampled_t_over_p/*
!/figures/time_dependent_heatmap/*

!/Chapters/*
!/Chapters/plotscode/*

!/Miscellanea/*
!*/
